# app/views/bookings/index.html.erb
<h1>Your Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= "#{booking.booking_date} at #{booking.booking_time}" %> - <%= booking.status %>
      <%= link_to 'Cancel', cancel_booking_path(booking), method: :patch, data: { confirm: 'Are you sure you want to cancel this booking?' } %>
    </li>
  <% end %>
</ul>


