<h1>All Restaurants</h1>
<div class="flex-wrap">
  <% @restaurants.each do |restaurant| %>
    <div class="card-r mx-2 mb-4 zoom-effect">
    <%= link_to restaurant_path(restaurant), class: "btn" do %>
git       <div class="px-3 ">
        <h5 class="card-title font-weight-bold"><%= restaurant.name %></h5>


      <% end %>
      </div>
    </div>




  <% end %>
</div>
