.navbar-lewagon {
  justify-content: space-between;
  background: #f8f9fa;
  margin-bottom: 46px;

}
.navbar{
  position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 29px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
